/* the styles for the elements */
* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

html {
    background-color: white;
    background: fixed;
    background-image: url('https://rocketleague.media.zestyio.com/rl_keyart_3rd-bday_hori_no-logos_1920.309bf22bd29c2e411e9dd8eb07575bb1.jpg');
	position: relative;
	min-height: 100%;
}

/******************************************************************************************
*******************************************************************************************
*******************************************************************************************

                        Header stuff and things

*******************************************************************************************
*******************************************************************************************
*******************************************************************************************/

header{
    border: 1px solid #1F1C49 ;
    background-color: #1F1C49;

}

header img{
	padding-bottom: .5em;
	width: 2.5%;
	height: 2.5%;
	float: left;
}

#nav_menu {
    padding-top: 1em;
	border-bottom: 2px solid #F19A53;
}

#nav_menu ul {
    
    list-style: none;
	position: relative;
	margin: 0;
	padding: 0;
}

#nav_menu ul li {
    float: left;
    padding-left: 1em;
    width: 5%;
}

#nav_menu ul li a {
	font-size: 85%;
	text-decoration: none;
    text-align: center;
	display: block;
	padding: .25em 0;
	background-color: #1F1C49;
	font-weight: bold;
	color: lightgray;
}

#nav_menu ul ul {
	display: none;
	position: absolute;
    top: 67%;
    width: 60%;
}

#nav_menu ul ul li {
	float: left;
}

#nav_menu > ul::after {
	content: "";
	clear: both;
	display: block;
}


#fade {
	border-bottom: 1px solid rgba(192, 192, 192, 0);
	/* ^- the important bit. RGB 192,192,192 is the same as #C0C0C0*/
	
	-webkit-transition: border 500ms ease;
	-moz-transition: border 500ms ease;
	-ms-transition: border 500ms ease;
	-o-transition: border 500ms ease;
	transition: border 500ms ease; 
  }

  #fade:hover {
	border-radius: 3px;
	border-bottom: 3px solid #1140EE;
  }

/******************************************************************************************
*******************************************************************************************
*******************************************************************************************

                        Body stuff and things

*******************************************************************************************
*******************************************************************************************
*******************************************************************************************/

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	width: 100%;
	margin: 0 auto;
    color: white;
}

/* picture links  */


#areailCarControl {
	padding: 3em;
	float: left;
	width: 35%;
	transition: transform .4s; /* Animation */
}


#areailCarControl:hover,#kickOffs:hover{
	transform: scale(1.05);
}

#kickOffs{
	padding: 3em;
	float: left;
	width: 35%;
	transition: transform .4s; /* Animation */
}


/* right aside*/

#rightSideBar {
	width: 300px;
	float: right;
	border: 3px solid #F19A53;
	padding-right: 10em;
	padding-top: 4em;
	
}

#rightSideBar a {
	text-align: center;
	background-color: #1F1C49;
	color: lightgray;
	display: block;
	padding: 12px;
	text-decoration: none;
	border-bottom: 2px solid #F19A53;
}

#rightSideBar #last {
	border: none;
}

/******************************************************************************************
*******************************************************************************************
*******************************************************************************************

                        Footer stuff and things

*******************************************************************************************
*******************************************************************************************
*******************************************************************************************/


footer{
	clear: both;
	padding: .25em 0;
	position: absolute; 
	bottom: 0;
	width: 100%;
	border-top:2px solid #F19A53;
	padding: 2em 0;
    background-color: #1F1C49;
	text-align: center;
}